* {
  box-sizing: border-box;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.extra-flex {
  flex-wrap: wrap;
  width: 280px;
  background-color: black;
}
.box {
  width: 70px;
  height: 70px;
  border: 1px solid rgb(191, 191, 191);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  color: rgb(13, 202, 240);
  box-shadow: 0 0 5px 0px rgb(154, 154, 154);
  background-color: rgb(33,37,41);
}
.box2 {
  border: 1px solid rgb(122, 101, 136);
}
.box:hover {
  overflow: hidden;
  background-color: rgb(58, 64, 70);
  border-width: 1px;
  border-image: linear-gradient(to bottom, rgb(6, 211, 2), rgb(0, 0, 0) ) 1 10%;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.center-aling {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.column {
  flex-direction: column;
  width: fit-content;
}
.display__container {
  width: 100%;
  min-height: 100px;
  box-shadow: 0 0 5px 0px rgb(154, 154, 154);
  background-color: rgb(191, 235, 246);
}
.display {
  text-align: end;
  width: 100%;
  height: auto;
  padding: 1rem;
  overflow-wrap: break-word;
  color: black !important;
}